:root {
    --color-black: #000000;
    --color-green1: #0D1F23;
    --color-green2: #132E35;
    --color-green3: #2D4A53;
    --color-green4: #69818D;
    --color-green5: #AFB3B7;
    --color-green6: #5A636A;
    --color-white: #FFFFFF;
    --color-gradiente: linear-gradient(135deg, #0D1F23, #132E35, #2D4A53, #69818D, #AFB3B7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-align: center;
    font-size: 1.5rem;
}

.main {
    background: var(--color-gradiente);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}   

#green1 {
    background: var(--color-green1);
    color: var(--color-green6);
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#green2 {
    background: var(--color-green2);
    color: var(--color-green5);
    margin-top: -80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#green3 {
    background: var(--color-green3);
    color: var(--color-green4);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#green4 {
    background: var(--color-green4);
    color: var(--color-green3);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#green5 {
    background: var(--color-green5);
    color: var(--color-green2);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#green6 {
    background: var(--color-green6);
    color: var(--color-green1);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}
