:root {
    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-brown1: #351D0E;
    --color-brown2: #3C2518;
    --color-brown3: #523D34;
    --color-brown4: #A3856D;
    --color-brown5: #EAC39C;
    --color-brown6: #FFDEBE;

    --color-gradiente: linear-gradient(135deg, #351D0E, #3C2518, #523D34, #A3856D, #EAC39C, #FFDEBE);  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-align: center;
    font-size: 1.5rem;
}

.main {
    background: var(--color-gradiente);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#brown1 {
    background: var(--color-brown1);
    color: var(--color-brown6);
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#brown2 {
    background: var(--color-brown2);
    color: var(--color-brown5);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#brown3 {
    background: var(--color-brown3);
    color: var(--color-brown4);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#brown4 {
    background: var(--color-brown4);
    color: var(--color-brown3);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#brown5 {
    background: var(--color-brown5);
    color: var(--color-brown2);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}
#brown6 {
    background: var(--color-brown6);
    color: var(--color-brown1);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}
