:root {
    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-blue1: #0E1D35;
    --color-blue2: #15253F;
    --color-blue3: #2B3D5B;
    --color-blue4: #7C8594;
    --color-blue5: #C3C3C3;
    --color-blue6: #DDDEE5;

    --color-gradiente: linear-gradient(135deg, #0E1D35, #15253F, #2B3D5B, #7C8594, #C3C3C3, #DDDEE5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-align: center;
    font-size: 1.5rem;
}

.main {
    background: var(--color-gradiente);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}   

#blue1 {
    background: var(--color-blue1);
    color: var(--color-blue6);
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#blue2 {
    background: var(--color-blue2);
    color: var(--color-blue5);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#blue3 {
    background: var(--color-blue3);
    color: var(--color-blue4);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#blue4 {
    background: var(--color-blue4);
    color: var(--color-blue3);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#blue5 {
    background: var(--color-blue5);
    color: var(--color-blue2);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}

#blue6 {
    background: var(--color-blue6);
    color: var(--color-blue1);
    margin-top:-80px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    padding-top: 50px;
}
